@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.text {
  padding-left: 12px;
}


.edit-icon {
  font-size: 1.2rem;
  color: rgb(3, 3, 62);
  padding-right: 10px;
}

.edit-delete {
  color: rgb(210, 17, 17);
 
}

.btn-icon{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

