@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  padding-left: 12px;
}

.edit-icon {
  font-size: 1.2rem;
  color: rgb(3, 3, 62);
  padding-right: 10px;
  cursor: pointer;
}

.edit-delete {
  color: rgb(210, 17, 17);
  font-size: 1.2rem;
  cursor: pointer;
}

.btn {
  margin-right: 10px;
}
